body {
	margin: 0;
	font-family: montserrat;
	background-color: #FD1015;
}
h1 {
	font-weight: 100;
	color: white;
}	
#logo{
	height: 80px;
	width: 80px;
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh
}